requests==2.31.0
beautifulsoup4==4.12.2
dnspython==2.4.2
argparse==1.4.0
colorama==0.4.6
tqdm==4.66.1
fake-useragent==1.4.0
aiohttp==3.9.1
wappalyzer==0.3.1
python-nmap==0.7.1
waybackpy==3.0.6
vulners==2.1.1
socid-extractor==0.0.24
httpx==0.26.0
async-timeout==4.0.3
